@use 'variables' as *;

.page {
  min-height: 100vh;
  background: var(--color-primary-soft);
  padding: 30px 50px;
  box-sizing: border-box;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.brand img {
  width: 150px;
  padding-bottom: 10px;
}

.brand span {
  font-family: $font-title;
  font-size: 48px;
  font-weight: $font-thin;
  color: var(--color-primary);
}

.brand p {
  margin: 0;
  padding-left: 15px;
  border-left: 1px solid #aaa;
  font-family: $font-title;
}

.profile-button{
  margin-right: 30px;
}
.header-right {
 position: relative;
}
 
 
.profile-button {
 border: none;
 
 background: transparent;
 
 color: white;
 
 font-size: 14px;
 
 cursor: pointer;
}
 
 


 
.profile-menu button {
 width: 100%;
 
 padding: 10px 12px;
 
 border: none;
 
 border-radius: 6px;
 
 background-color: transparent;
 
 color: var(--color-primary-dark);
 
 text-align: left;
 
 cursor: pointer;

}
 
 
.profile-menu button:hover {
 background-color: var(--color-primary-soft);
}
 

.sesion-menu button {
  width: 100%;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  background: transparent;
  color: var(--color-primary-dark);
  text-align: left;
  cursor: pointer;
}

.sesion-menu button:hover {
  background-color: var(--color-primary-soft);
}


 
 

