@use 'variables' as *;

.login-page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 36% 64%;
  background: #ffffff;
  border-radius: 40px;
  overflow: hidden;
}

/* =========================
   LEFT SIDE
========================= */

.login-visual {
  background: linear-gradient(
    180deg,
    #eef4ff 0%,
    #dce9ff 100%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 60px 30px 0;
}

.brand {
  text-align: center;
}

.brand h1 {
  font-family: $font-title;
  font-weight: $font-light;
  font-size: 42px;
  color: #2864ff;

  margin: 20px 0 10px;
}

.brand-description {
  font-family: $font-title;
  font-weight: $font-bold;

  color: #2864ff;
  font-size: 18px;

  max-width: 220px;
}

/* =========================
   RIGHT SIDE
========================= */

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 60px;
}

.welcome {
  width: 100%;
  max-width: 650px;
  text-align: center;
}

.welcome h2 {
  font-family: $font-title;
  font-weight: $font-regular;

  font-size: 38px;
  margin-bottom: 28px;
}

.welcome h2 span {
  color: #2864ff;
}

.description {
  font-family: $font-title;
  font-weight: $font-regular;

  font-size: 17px;
  line-height: 1.4;

  max-width: 600px;
  margin: 0 auto 30px;
}

.instruction {
  font-family: $font-title;
  font-weight: $font-regular;

  font-size: 16px;
  margin-bottom: 24px;
}

/* =========================
   BUTTONS
========================= */

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 25px;
}

.actions button {
  height: 55px;

  border: none;
  border-radius: 6px;

  font-family: $font-title;
  font-weight: $font-medium;

  font-size: 15px;

  cursor: pointer;
}

.emergency-button {
  background: #ff3048;
  color: white;
}

.login-button {
  background: #2864ff;
  color: white;
}

/* =========================
   HELP TEXT
========================= */

.button-help {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 25px;

  margin-top: 8px;

  font-family: $font-title;
  font-weight: $font-light;

  font-size: 11px;
}

/* =========================
   REGISTER
========================= */

.register-text {
  margin-top: 32px;

  font-family: $font-title;
  font-weight: $font-regular;

  font-size: 13px;
}

.register-text a {
  color: #2864ff;

  font-weight: $font-semi-bold;

  text-decoration: none;
}

/* =========================
   DIVIDER
========================= */

.divider {
  display: flex;
  align-items: center;

  gap: 15px;

  margin: 40px 0 25px;
}

.divider span {
  flex: 1;
  height: 1px;

  background: #dddddd;
}

.shield {
  color: #2864ff;
}

/* =========================
   FOOTER
========================= */

footer {
  font-family: $font-title;
  font-weight: $font-light;

  font-size: 11px;
}

footer p {
  margin: 3px;
}